[Unit]
Description=Consul Agent
After=syslog.target network.target

[Service]
Type=simple
ExecStart={{consul_bin_dir}}/consul agent \
  -config-file={{consul_config_file}}
ExecReload={{consul_bin_dir}}/consul reload
ExecStop={{consul_bin_dir}}/consul leave

[Install]
WantedBy=multi-user.target
